<ion-view >
  	<ion-content>
  		<div class="home_logo_cnt">
	  		<div class="home_logo"></div>
	  	</div>
  		<div class="main_home">
  			<div class="text-center">
	  			<h3>திருமணப் பொருத்தம்</h3>
  			</div>
  		</div>
  		<div class="matchresult">
  			<div class="text-center">
	  			<h4>விளக்கம்</h4>
	  		</div>
	  		<div class="desc">
	  			<div>
		  			<p class="desc_para">
		  				<span>தினம்</span>
		  				<span>(மத்திமம்)</span>
		  			</p>
		  			<p class="desc_para">
		  				<span>கணம்</span>
		  				<span>(உத்தமம்)</span>
		  			</p>
		  			<p class="desc_para">
		  				<span>மஹேந்திரமம்</span>
		  				<span>(உத்தமம்)</span>
		  			</p>
		  		</div>

			</div>
			<div class="dec_total">
				<div class="text-center">
					<h4>மொத்தம்-8.0/10.0</h4>
				</div>
			</div>
			<div class="btn_des">
				<button class="button button-positive">மின்னஞ்சல் செய்க </button>
			</div>
  		</div>

  	</ion-content>
</ion-view>