
<form  class="myForm" name="myForm" >
	  		
	  		<div class="matchresult">
	  			
			  	<div class="desc">
		  			<div class="form_group">
		  				 <h4>{{'name' | translate}}</h4>
		  				 <label class="item item-input">
						    <input type="text" ng-model="user.name" required>
						  </label>
					</div>
					<div class="form_group">
		  				 <h4>{{ 'email' | translate }}</h4>
		  				 <label class="item item-input">
						    <input type="email" ng-model="user.email" name="email" required>
						    <!-- <span ng-show="myForm.email.$touched">please fill this</span> -->
						  </label>

					</div>
					<div class="form_group">
						<h4>{{ 'Rating' | translate }}</h4>
					<ionic-ratings ratingsobj='ratingsObject' index='0'></ionic-ratings>
					</div>
				</div>
			</div>
			
		</form>