<ion-view >
  	<ion-content>
  		<div class="home_logo_cnt">
	  		<div class="home_logo"></div>
	  	</div>
  		<div class="main_home">
  			<div class="text-center">
	  			<h3>திருமணப் பொருத்தம்</h3>
	  			<h2>Marriage</h2>
	  			<h2>Compatibility</h2>
  			</div>
  		</div>
  		<div class="btn_section">

		  	<div class="button-bar">

		  			<button ng-click="gotamil('english')" class="button button-positive button-outline">English</button>


		  			<button ng-click="gotamil('tamil')" class="button button-positive button-outline">Tamil</button>

		  	</div>
		</div>

  	</ion-content>
</ion-view>
