<ion-view class="match_result_page">

    <ion-content class="match_result">
        <div class="main_outer">
            <div class="row">
                <div class="col text-center split_box">
                    <h3>{{ 'Bride' | translate }}</h3>
                    <img src="img/bride.png" />
                    <ul class="name_list">
                        <li>{{match_result.bride_name}}</li>
                        <li>{{match_result.girlstar}}</li>
                    </ul>
                </div>
                <div class="col text-center split_box">
                    <h3>{{ 'Groom' | translate }}</h3>
                    <img src="img/groom.png" />
                    <ul class="name_list">
                        <li>{{match_result.groom_name}}</li>
                        <li>{{match_result.boy_star}}</li>
                    </ul>
                </div>
            </div>
            <ul class="text-center match_result_list">
                <h4>Match Result</h4>
                <li>{{'comment' | translate}} : {{match_result.remark}}</li>
                <li>{{'result' | translate}}  : {{match_result.result}}</li>
                <li>{{'count' | translate}}   : {{match_sub_count}}</li>
            </ul>
        </div>
        <div class="accordian_outer">
        <ion-list>
        <div ng-repeat="group in explaining">
          <ion-item class="item-stable accordian_item"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            <span>{{group.title}} </span>
            <span style="float: right;" ng-if="group.num == 1" class="green"><i class="icon ion-checkmark-round"></i></span>
            <span style="float: right" ng-if="group.num == 0" class="red"><i class="icon ion-close-round"></i></span>
          </ion-item>
          <div ng-show="isGroupShown(group)">
            <ion-item ng-repeat="content in group.contents" class="item-accordion">
              <p>{{content.line}}</p>
            </ion-item>
          </div>
        </div>
      </ion-list>
  </div>
    </ion-content>
	<ion-footer-bar>

					<button class="button button-positive  pull-right"  ng-click="gomail()">{{'mail' | translate}} </button>

	</ion-footer-bar>
</ion-view>
