
    <ion-view >
      <ion-content style="top: 80px;">
       <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs >
                    <ion-slide ion-slide-tab-label="{{ 'HEADLINE' | translate }}">
        <div  class="porutham_list">
      <div class="overlay"></div>
     <!--  <ion-refresher on-refresh="doRefresh()"  refreshingSpinner="circles"></ion-refresher> -->
      <div class="item-avatar item-icon-right"  type="item-text-wrap" >
        <div class="profile_list">

           <form  class="myForm" name="myForm" ng-submit="match(user)">


              <ion-md-input type="text" class="input_field" ng-model="user.bride_name" name="name" placeholder="{{ 'women_name' | translate }}"   ng-minlength="2" required></ion-md-input>
              <label class="slt_labl">
                <div class="bride_icon"></div>
               <select ng-model="user.bride_rasi" >
                  <option value="">{{'women_rasi' | translate }}</option>
                  <option ng-repeat="bride_rasi in girlopt" value="{{bride_rasi.girlstar}}">{{bride_rasi.girlstar}}</option>
              </select>
              </label>

              <ion-md-input type="text" class="input_field" ng-model="user.groom_name" name="name" placeholder="{{ 'men_name' | translate }}"  ng-minlength="2"  required ></ion-md-input>

              <div class="styled-select slate">
                <label class="slt_labl">
                  <div class="groom_icon"></div>
            <select ng-model="user.groom_rasi" >
                  <option value="">{{'men_rasi' | translate }}</option>
                  <option ng-repeat="bride_rasi in boyopt" value="{{bride_rasi.star}}">{{bride_rasi.star}}</option>
              </select>
            </label>
            </div>

               <ion-md-input type="tel" name="mobile" ng-model="user.phonenumber" placeholder="{{'mobile' | translate }}"  ng-pattern="/^\+?\d{10}$/" ng-maxlength="10" autocomplete="off" required="true"></ion-md-input>
               <span style="color:#e40404; text-transform: none;" ng-show="myForm.mobile.$error.pattern">Please enter a 10 digit number</span>
          <span style="color:#e40404; text-transform: none;" ng-show="myForm.mobile.$error.required && myForm.mobile.$dirty">Contact number is a required field</span>

               <div class="match_btn">
                    <button ng-disabled="myForm.$invalid" class="button button-block button-positive sign_in" >{{'see_match'| translate}} </button>
                </div>

            </form>
          </div>
        </div>
        </div>
      </ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
