<style>
.slider-slide-tab  span:last-child
{border-radius: 10px;
background:#ef473a;
padding: 3px 8px;
		color: white;
		position: relative;
		bottom: 8px;
		left: 5px;    font-weight: bold;box-shadow:0 0 1px #333;
}

    .scrollmenu.scroll-view.scroll-x {
    overflow-x: hidden;  /* default value is 'scroll' */
}
</style>
<ion-view view-title="Playlists">
  <ion-content style="top: 80px;">
   <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs >
                <ion-slide ion-slide-tab-label="{{ 'HEADLINE' | translate }}">
                  <div ng-include src="'templates/playlist.html'"></div>
                </ion-slide>
                <!-- <ion-slide ion-slide-tab-label="Horoscope Matching"><div ui-view="e"  class="col col-dynamic-40" dynamic-md-layout></div> --></ion-slide>
   </ion-slide-box>
  </ion-content>
</ion-view>
